<!DOCTYPE html>
<html layout:decorator="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
    <title th:text="#{title_welcome_to_propro}"></title>
    <link rel="stylesheet" th:href="|${url}/assets/css/common.css|" type="text/css">
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>

<div class="m-content" layout:fragment="content">

    <!--<div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>-->
    <!--<div th:if="${errorList}" th:each="arrayS:${errorList}">-->
    <!--<div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>-->
    <!--</div>-->

    <!--<div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>-->
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text" th:text="#{label_operation_panel}"></h3>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit float-right mt-3" id="first-button">
                        <div class="m-form__actions">
                            <button class="btn btn-primary" th:text="#{btn_start_convolution}" type="submit"></button>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/project/doextract}">
                    <div class="m-portlet__body row justify-content-center">
                        <input hidden="hidden" name="id" th:value="${project?.id}" type="text">
                        <div class="col-7 text-center">
                            <div class="form-group m-form__group row">
                                <label class="col-md-2 col-form-label" for="name"
                                       th:text="#{label_project_name}"></label>
                                <div class="col-md-10">
                                    <input class="form-control m-input" id="name" name="name" readonly th:value="|${project?.name}(${project?.id})|"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-md-2 col-form-label" for="iRtLibraryId"
                                       th:text="#{label_irt_library}"></label>
                                <div class="col-md-10">

                                    <select class="form-control m-input" id="iRtLibraryId" name="iRtLibraryId">
                                        <option th:text="#{label_no_irt}" value=""></option>
                                        <option th:each="library:${iRtLibraries}" th:selected="${iRtLibraryId}==${library.id}?true:false"
                                                th:text="|${library.name}(${library.id})|"
                                                th:value="${library.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-md-2 col-form-label" for="library" th:text="#{label_library}"></label>
                                <div class="col-md-10">
                                    <select class="form-control m-input" id="library" name="libraryId">
                                        <option th:each="library:${libraries}" th:selected="${libraryId}==${library.id}?true:false"
                                                th:text="|${library.name}(${library.id})|"
                                                th:value="${library.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion__item col-7 text-center mt-4">
                            <div aria-expanded="    false" class="m-accordion__item-head collapsed" data-toggle="collapse"
                                 href="#m_accordion_1_item_1_body" id="m_accordion_1_item_1_head" role="tab"
                                 style=" background-color: darkgrey;height: 30px;line-height: 30px;">
                                <div class="higher">
                                    <div class="m-demo-icon__preview">
                                        <span class="m-accordion__item-title">
														高级设置
													</span>
                                        <span class="m-accordion__item-mode"></span>
                                        <i class="fa fa-chevron-down" id="icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="m_accordion_1_item_1_head" class="m-accordion__item-body collapse mt-3"
                                 data-parent="#m_accordion_1" id="m_accordion_1_item_1_body"
                                 role="tabpanel">
                                <div class="m-accordion__item-content">
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="rtExtractWindow"
                                               th:text="#{label_rt_extract_window}"></label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="rtExtractWindow" name="rtExtractWindow"
                                                   th:value="${rtExtractWindow}" type="text">
                                            <span class="m-form__help"
                                                  th:text="#{label_default_rt_extract_window}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="mzExtractWindow"
                                               th:text="#{label_mz_extract_window}">
                                        </label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="mzExtractWindow" name="mzExtractWindow"
                                                   th:value="${mzExtractWindow}" type="text">
                                            <span class="m-form__help"
                                                  th:text="#{label_default_mz_extract_window}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="fdr">FDR</label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="fdr" name="fdr" th:value="${fdr}"
                                                   type="text">
                                            <span class="m-form__help"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="note"
                                               th:text="#{label_note}"></label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="note" name="note" th:value="${note}"
                                                   type="text">
                                            <span class="m-form__help"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="mzExtractWindow"
                                               th:text="|#{label_exps_count}(${exps.size()})|"></label>
                                        <div class="col-md-10 row">
                                            <label class="col-md-3 col-form-label" th:each="exp:${exps}"
                                                   th:text="|${exp.name}(${exp.id})|"></label>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="sigma"
                                               th:text="#{label_set_sigma}"></label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="sigma" name="sigma" th:value="${sigma}"
                                                   type="text">
                                            <span class="m-form__help" th:text="#{label_default_sigma}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="spacing"
                                               th:text="#{label_default_spacing}"></label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="spacing" name="spacing" th:value="${spacing}"
                                                   type="text">
                                            <span class="m-form__help" th:text="#{label_default_spacing}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="shapeScoreThreshold"
                                               th:text="#{label_threshold_for_shape}"></label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="shapeScoreThreshold" name="shapeScoreThreshold"
                                                   th:value="${shapeScoreThreshold}" type="text">
                                            <span class="m-form__help"
                                                  th:text="#{label_default_shape_threshold}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-md-2 col-form-label" for="shapeWeightScoreThreshold"
                                               th:text="#{label_threshold_for_shape_weight}"></label>
                                        <div class="col-md-10">
                                            <input class="form-control m-input" id="shapeWeightScoreThreshold"
                                                   name="shapeWeightScoreThreshold" th:value="${shapeWeightScoreThreshold}"
                                                   type="text">
                                            <span class="m-form__help"
                                                  th:text="#{label_default_shape_weight_threshold}"></span>
                                        </div>
                                    </div>
                                    <div class="m-form__group form-group row">
                                        <label class="col-md-2" th:text="#{label_choose_feature_score_algorithms}">
                                        </label>
                                        <div class="col-md-10">
                                            <div class="row ml-md-2">
                                                <div class="m-checkbox-list col-md-6" th:each="scoreType:${scoreTypes}">
                                                    <label class="m-checkbox m-checkbox--state-success"
                                                           th:if="${scoreType.isUsed}">
                                                        <input th:checked="checked" th:name="${scoreType.typeName}"
                                                               th:text="${scoreType.typeName}"
                                                               type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button class="btn btn-primary" th:text="#{btn_start_convolution}" type="submit"></button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>

</div>
</body>
<th:block layout:fragment="script">
    <script th:src="|${url}/assets/js/propro/common.js|" type="text/javascript"></script>
</th:block>
<!-- end::Body -->
</html>
